# Copyright 2020 The OpenEBS Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: ci

on:
  pull_request:
    branches:
      - 'develop'
      - 'v*'
    paths-ignore:
      - '*.md'
      - 'BUILDMETA'
      - 'changelogs/**'
      - 'deploy/helm/**'
      - 'docs/**'
      - 'design/**'
      - 'LICENSE'
      - 'MAINTAINERS'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.3

      - name: Format test
        run: make format

      - name: License test
        run: make license-check

      - name: bootstrap
        run: make bootstrap

      - name: Lint Check
        run: make golint

      - name: Shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          path: '.'
          pattern: '*.sh'
          exclude: './vendor/*'


  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unit test
        run: make test

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1

  bdd-test:
    needs: ['unit-test']
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        kubernetes: [v1.20.1]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.3

      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.7.1
        with:
          minikube version: v1.16.0
          kubernetes version: ${{ matrix.kubernetes }}
          github token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build images locally
        run: make lvm-driver-image || exit 1;

      - name: bootstrap
        run: make bootstrap

      - name: Running tests
        run: ./ci/ci-test.sh

  csi-driver:
    runs-on: ubuntu-latest
    needs: ['lint', 'unit-test', 'bdd-test']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: v0.5.1

      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./buildscripts/lvm-driver/Dockerfile.buildx
          push: false
          platforms: linux/amd64, linux/arm64
          tags: |
            openebs/lvm-driver:ci
